
<div class="row">
  <div class="col-xs-12">
    <ng-template [ngIf]="ingredients === null">
      <div class="col-xs-12">
        <h4 style="color: green">
          No items in Shopping List
        </h4>
      </div>
    </ng-template>
  </div>
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>

    <ul>
      <div class="row">
        <div class="col-xs-6">
          <strong>
            Item
          </strong>
        </div>
        <div class="col-xs-4">
          <strong>
            Amount
          </strong>

        </div>
        <div class="col-xs-2">
          <span class="pull-right">
            <strong>
              Delete
            </strong>

          </span>
        </div>
      </div>
      <a *ngFor="let item of ingredients; let i = index" class="list-group-item" style="cursor: pointer"
         (click)="isAuthenticated() ? onEditItem(i) : displayBanner()">
        <div class="row">
          <div class="col-xs-6">
            {{item.name}}
          </div>
          <div class="col-xs-4">
            {{item.amount}}
          </div>
          <div class="col-xs-2">
            <a style="color: red" (click)="deleteItem(i)" class=" pull-right">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!--<span>{{item.name}} </span>-->
        <!--<span>{{item.amount}}</span>-->
        <!--<span  class="pull-right">-->
          <!--<a style="color: red" (click)="deleteItem(i)">-->
            <!--<i class="fa fa-times" aria-hidden="true"></i>-->
          <!--</a>-->
        <!--</span>-->
      </a>
    </ul>
  </div>
</div>
